export FREESEWING_DATA_DB_HOST="localhost"
export FREESEWING_DATA_DB_DATABASE="Your db name"
export FREESEWING_DATA_DB_USER="Your db user"
export FREESEWING_DATA_DB_PASSWORD="Your db pass"
export FREESEWING_JWT_SECRET="Your JWT secret" 

