<phpunit
    bootstrap="tests/bootstrap.php"
    backupGlobals="false"
    beStrictAboutCoversAnnotation="true"
    beStrictAboutOutputDuringTests="true"
    beStrictAboutTestsThatDoNotTestAnything="true"
    beStrictAboutTodoAnnotatedTests="true"
    colors="true"
    verbose="false">
    <testsuites>
        <testsuite>
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">src</directory>
        </whitelist>
        <blacklist>
           <directory>./vendor</directory>
        </blacklist>
    </filter>
</phpunit>
