<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="SlimSkeleton">
            <directory>tests</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <file>./public/index.php</file>
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>
