<!-- ONE COLUMN SECTION -->
<table border="0" cellpadding="0" cellspacing="0" width="100%">
    <tr>
        <td bgcolor="#ffffff" align="center" style="padding: 10px 15px 40px 15px;" class="section-padding">
            <table border="0" cellpadding="0" cellspacing="0" width="500" class="responsive-table">
                <tr>
                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <td>
                                    <!-- COPY -->
                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tr>
                                          <td align="left" style="padding: 20px 0 0 0; font-size: 16px; line-height: 25px; font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #292B2C;" class="padding-copy">
                                              __authorPostedAReply__
                                              <br><br>
                                              <blockquote>__COMMENT__</blockquote>
                                              <br><br>
                                              __replyWillBePostedAsComment__
                                              <br>
                                              <a href="__COMMENT_LINK__">__orReplyOnline__</a>

                                          </td>
                                        </tr>
                                        <tr>
                                          <td align="left" style="padding: 30px 0 0 0; font-size: 16px; line-height: 20px; font-family: -apple-system, system-ui, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif; color: #292B2C;" class="padding-copy">
                                              <small><a href="__PARENT_COMMENT_LINK__">__yourOriginalComment__</a>:
                                              <br><br>
                                              <blockquote>__PARENT_COMMENT__</blockquote>
                                              </small>
                                          </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
